logging:
  level:
    io.rsocket: DEBUG
    org.springframework.cloud.gateway.rsocket: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: "*"

server:
  port: 8081

spring:
  rsocket:
    server:
      port: 7002
  cloud:
    gateway:
      rsocket:
        id: broker-id
        route-id: 1
        service-name: broker-service-name
#        brokers:
#          - host: 127.0.0.1
#            port: 7001